.body{
  margin: 1px;
}

.titulo{
    margin-left: 75px;
}
  
  #container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-60%);
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
    color: #8c8c8c;
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }
  .grid1 {
    height: 100%;
    padding: 0px;
  }
  
  .contaier-login {
    margin-top: 1px;
    width: 100%;
    padding: 10px;
    background: #ffffff;
    display: flex;
    display: flexbox;
  }
  
  
  .row9 {
    display: flex;
    display: flexbox;
    height: 50%;
    background: -moz-linear-gradient(45deg, rgba(61, 66, 150, 1) 0%, rgba(84, 74, 171, 0.8) 100%);
    background: -webkit-linear-gradient(45deg, rgba(61, 66, 150, 1) 0%, rgba(84, 74, 171, 0.8) 100%);
    background: linear-gradient(45deg, rgba(61, 66, 150, 1) 0%, rgba(84, 74, 171, 0.8) 100%);
    
  }
  
  .row0 {
    height: 50%;
    background-color: #ffffff;
    display: flex;
    display: flexbox;
  }
  
  
  
  ion-slide {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px ;
  }
  
  
  
  
  
  //Lo mio
  .item {
    background-color: #FFFFFF;
    border-radius: 20px;
  }
  
  .fondoInicio{
    background-color: #FFFFFF;
    border-radius: 30px;
  }
  
  .contra {
    color: black;
    border-radius: 20px;
  }
  
  .nombreInicio {
    color: black;
    border-radius: 20px;
  }
  .img-container {
    display: flex;
    justify-content: center;
    // align-items: center; this only if you want to vertical align it to the center too
  }
  
  
  .Bienvenido { 
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: whitesmoke;
    //color:rgb(209, 158, 26);
    border-radius: 5px;
    height: 20%;
    background: -moz-linear-gradient(45deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
    background: -webkit-linear-gradient(45deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
    background: linear-gradient(45deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
    border-radius: 60px;
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
  }
  
  
  
  .borde{
    background-color:  black;
    color: #FFFFFF;
  }
  
  
  .alerta {
  height: auto;
  color: red;
  display: flex;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.75);
  }
  
  .padcor {
  padding: 5px;
  }
  
  
  
  //NEW
  .form-group{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
  }
  
  .button-container {
    display: flex;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
  }
  
  
  
  .select {
    float: center;
    margin-right: 50%;
  }

  .ion-margin{
    color: black;
    background-color: white;
  }

  .h3{
    margin-top: 300px;
  }

  .titulo{
    
    justify-content: center;
  }


  .form-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    padding: 10px;
}

.btng{
    appearance: none;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;

    font-size: 18px;
    box-shadow: 0px 0px 2px black;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    transition: 0.2s;
}

.btng2{
    margin-bottom: 3px;
    color: #f8b416;
    border: 1px solid #f8b416;
    background-image: linear-gradient(to top, #f8b416 50%, transparent 50%);
    background-size: 100% 200%;
    background-position: 0% 0%;
}

.btng2:hover{
    color: #001b35;
    background-position: 0% 100%;
}

.btng2apretado{
    margin-bottom: 3px;
    color: #001b35;
    border: 1px solid #f8b416;
    background-image: linear-gradient(to top, #f8b416 50%, transparent 50%);
    background-size: 100% 200%;
    background-position: 0% 100%;
}