<ion-header>
  <ion-toolbar color="dark">
    <ion-title stryle="text-align:center" >{{ "Agregar" | translate }}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<!--Agregar contenido del Conductor-->
  <ion-card>
    <ion-card-content class="card">
    
        <div class="logo ion-text-center">
          <img src="assets/guardar.png"  alt="">
        </div>
      <ion-button expand="full" (click)="agregar()">{{ "Guardar" | translate }}</ion-button>
    </ion-card-content>
  </ion-card>  

  <!--Agregar contenido del Conductor-->

</ion-content>
