<ion-header>
  <ion-toolbar color="dark">
    <ion-title class="titulo" class="titulo" >{{ "QR Code" | translate }}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <h3> Descargar Aplicacion</h3>
  <ion-card class="ion-text-center">
    <img src="./assets/App.png" alt="">
  </ion-card>

  <h2 class="escritura"> {{ "Recuerde que el usuario debe escanear el código QR para la verificación" | translate }}</h2>

</ion-content>
